p, h4 {
  color: black;
}

:root {
  --main-bg-color: rgba(0, 0, 0, .08);
  --vertical-side-buttons-color: rgba(24, 166, 198, 0.76);
  --main-box-shadow: rgba(117, 110, 117, 0.83);
  --backcolor-under-text: #fcfcfc82;
  --backcolor-head-under-text: #50505082;
  --outer-main-width: 290px;
  --main-width: 250px;
  --content-width: 230px;
  --backcolor-border-textarea: #cbcbcb82;
  --backcolor-border-textarea-focus: #ababab82;
  --backcolor-under-text-thead: #fcfcfc60;
  --backcolor-response-box-body: #fcfcfca1;
  --response-container-height: 400px;
  --rich-textarea-header-height: 22px;
  --backcolor-light-gray: #b5b5b582;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .08);
}

::-webkit-scrollbar-thumb {
  backdrop-filter: blur(5px);
  background-color: var(--backcolor-border-textarea-focus);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  backdrop-filter: blur(5px);
  background-color: var(--backcolor-border-textarea);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  backdrop-filter: blur(5px);
  background-color: var(--backcolor-under-text);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.0);
}

[rn-class~=rn-chosen-html-node] {
  /* border: #0000004f 1px solid;*/
  border-radius: 6px;
  box-shadow: -1px 2px 8px -2.2px black;
  background-color: var(--main-bg-color);
}

[rn-hovered-class~=rn-hovered-html-node] {
  /*   border: #0000004f 1px solid;*/
  border-radius: 6px;
  box-shadow: -1px 2px 8px -2.2px black;
  /*  background-color: var(--main-bg-color); */
}

[rn-class-display~=rn-chosen-html-node-display-none] {
  display: none;
}

[rn-class-display~=rn-display-none] {
  display: none !important;
}

[rn-class-visibility~=rn-visibility-hidden] {
  visibility: hidden !important;
}

.gray-border-of-renarration-applied-sign {
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  position: fixed;
  border: 12px solid #4b4b4ba6;
  border-right-style: none;
  pointer-events: none;
}

.rn-outer-main-wrap {
  width: var(--outer-main-width);
  left: auto;
  right: 0px;
  padding: 0px;
  top: 0%;
  height: 100%;
  font-family: calibri;
  font-size: 10px;
  z-index: 999999999999;
  position: fixed;
  pointer-events: none;
}

.rn-main-wrap {
  box-shadow: -1px 2px 8px -2.2px black;
  width: var(--main-width);
  left: auto;
  right: 0px;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: var(--main-bg-color);
  pointer-events: initial;
  overflow-y: scroll;
  height: calc(100% - 36px);
}

.rn-main-wrap::-webkit-scrollbar {
  display: none;
}

.rn-navbar {
  background-color: #e7e7e752;
  box-shadow: 0px 5px 4px 1px #221d1db0;
  backdrop-filter: blur(5px);
  pointer-events: initial;
}

.rn-navbar>input {
  width: 34px;
  padding: 0px 6px 0px 6px;
  padding-left: 6px;
  padding-right: 6px;
  /* padding-bottom: 0px; */
  /*   padding-top: 0px;*/
}

.rn-navbar>input:not(.rn-navbar-toggle):hover {
  background-color: var(--backcolor-light-gray);
}

[rn-navbar-mode-chosen~=rn-navbar-mode-selection] {
  background-color: #80808045;
  box-shadow: inset 0px 0px 6px 0px #808080bf;
  /* box-shadow: 0px 0px 4px 0px; */
  margin-bottom: -3px;
  padding-bottom: 3px;
}

.rn-current-mode-content-box {
  background: var(--backcolor-under-text);
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  font-size: 15px;
  margin-top: -4px;
  margin-bottom: -6px;
  margin-left: calc(var(--main-width) / 2 + 2px);
  width: 120px;
  text-align: center;
  font-weight: 800;
  line-height: 16px;
}

.rn-navbar-vertical {
  background-color: #e7e7e752;
  box-shadow: 0px 1px 6px 0px #221d1db0;
  backdrop-filter: blur(0px);
  pointer-events: initial;
  float: left;
  margin-left: 6px;
  width: 34px;
  z-index: 400;
  display: inline-grid;
  grid-row-gap: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.rn-navbar-vertical>input {
  margin: auto;
  width: 24px;
}

.rn-navbar-vertical>input:hover {
  background-color: var(--backcolor-light-gray);
}

.rn-renarration-information-box {
  border-radius: 6px 0px 0px 6px;
  float: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
  margin-right: var(--main-width);
  padding-right: 0px;
  right: 0px;
  top: calc(30% + 0px);
  position: fixed;
  box-shadow: 0px 1px 6px 0px #221d1db0;
  backdrop-filter: blur(2px);
}

.rn-renarration-information-box .rn-general-content-value-name {
  background-color: #b9b8b8a6;
}

/*----rn-renarration-more-information-box starts---*/
.rn-renarration-more-information-box {
  border-radius: 6px 0px 0px 6px;
  float: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
  margin-right: var(--main-width);
  padding-right: 0px;
  right: 0px;
  top: calc(30% + 170px);
  position: fixed;
  box-shadow: 0px 1px 6px 0px #221d1db0;
  backdrop-filter: blur(2px);
}

.rn-information-box-menu-closed {
  margin-right: 40px;
}

.rn-renarration-more-information-box .rn-general-content-value-name {
  background-color: #b9b8b8a6;
}

.rn-general-centered-content-label-name {
  background: var(--backcolor-head-under-text);
  border-radius: 4px;
  margin: 0px 6px 0 12px;
}

/*----rn-renarration-more-information-box ends---*/
/* .rn-modes-profile {
  width: 36px;
} */
.rn-side-group-buttons {
  float: left;
}

.rn-side-buttons {
  background-color: var(--vertical-side-buttons-color);
}

.rn-card-picture {
  width: 120px;
  height: 120px;
  border: 1px black solid;
  margin-right: 65px;
  margin-top: 40px;
  float: right;
  /* background: url(profile.jpg) center no-repeat; */
  background-size: cover;
  border-radius: 12px;
}

.rn-card-info {
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 0px;
  font-size: 14px;
  width: var(--content-width);
}

.rn-card-info td {
  background: var(--backcolor-under-text);
  border-radius: 11px;
}

p {
  margin: 9px;
  margin-left: 2px;
  margin-right: 2px;
}

.rn-renarration-list-items {
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 0px;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: var(--content-width);
  height: 140px;
}

.rn-renarration-list-info {
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
}

.rn-renarration-list-items td {
  background: var(--backcolor-under-text);
  border-radius: 11px;
}

.rn-renarration-list-items-info th {
  background: var(--backcolor-head-under-text);
  border-radius: 11px;
}

.rn-renarration-list-info p {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rn-search-order-tools {
  background-color: rgba(0, 0, 0, .08);
  backdrop-filter: blur(5px);
  float: left;
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  width: var(--content-width);
  margin-left: 10px;
  margin-top: 10px;
}

.rn-search-order-tools-search-input {
  background: var(--backcolor-under-text);
  border-radius: 6px;
  border: 1px solid #00000075;
}

.rn-search-order-tools-search {
  text-align: center;
}

.rn-search-order-tools-search-input {
  margin-top: 5px;
  text-align: center;
}

/*----Rn General Buttons, Radio Buttons, Header starts----*/
.rn-general-picture {
  display: block;
  width: 120px;
  height: 120px;
  margin: 16px auto 2px auto;
  background-size: cover;
  border-radius: 12px;
  box-shadow: -3px 2px 7px black;
}

.rn-general-button {
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 0 6px 0;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-general-button:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-general-button:active {
  background-color: var(--backcolor-border-textarea-focus);
  transform: translateY(0.4px);
}

.rn-general-button:focus {
  outline: 0;
}

.rn-general-textbox {
  background: var(--backcolor-under-text);
  border-radius: 6px;
  border: 1px solid var(--backcolor-border-textarea);
  margin-top: 5px;
  text-align: center;
}

.rn-general-textbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px var(--backcolor-border-textarea-focus);
}

.rn-general-header h4 {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin: 6px 4px 6px 4px;
}

.rn-general-content-header p {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin: 0px 30px 0px 30px;
}

.rn-general-searchbox-table {
  width: 100%;
  margin: auto;
  border-spacing: 2px;
}

.rn-general-searchbox-header p {
  background: var(--backcolor-head-under-text);
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
  margin: 0px 2px 0px 2px;
}

.rn-general-searchbox-textbox {
  background: var(--backcolor-under-text);
  border-radius: 6px;
  border: 1px solid var(--backcolor-border-textarea);
  margin: 0px 2px 0px 2px;
  text-align: center;
  width: 110px;
}

.rn-general-searchbox-textbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px var(--backcolor-border-textarea-focus);
}

.rn-general-searchbox-button {
  height: 22px;
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 0 6px 0;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-general-searchbox-button:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
  cursor: pointer;
}

.rn-general-searchbox-button:active {
  background-color: var(--backcolor-border-textarea-focus);
  transform: translateY(0.4px);
}

.rn-general-searchbox-button:focus {
  outline: 0;
}

.rn-general-searchbox-longer-button {
  width: 120px;
  white-space: normal;
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 0 6px 0;
  box-shadow: -1px 1px;
}

.rn-general-searchbox-longer-button:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px;
  /* box-shadow: -1px 1px var(--backcolor-border-textarea-focus); */
  cursor: pointer;
}

.rn-general-searchbox-longer-button:active {
  background-color: var(--backcolor-border-textarea-focus);
  transform: translateY(0.4px);
}

.rn-general-searchbox-longer-button:focus {
  outline: 0;
}

.rn-general-searchbox-button-second-type {
  width: 80px;
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 6px 6px 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
  cursor: pointer;
}

.rn-general-searchbox-button-second-type:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-general-searchbox-button-second-type:active {
  background-color: var(--backcolor-border-textarea-focus);
  transform: translateY(0.4px);
}

.rn-general-searchbox-button-second-type:focus {
  outline: 0;
}

.rn-general-content-radiobuttons-group {
  display: flex;
  justify-content: center;
  margin: 4px 0px 4px 0px;
}

.rn-general-content-radiobutton {
  display: flex;
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin: 2px 2px 2px 2px;
}

.rn-general-content-radiobutton p {
  width: 84px;
  margin: 0px 2px 0px 0px;
  text-align: left;
}

.rn-general-content-radiobutton>input {
  cursor: pointer;
}

.rn-general-textarea {
  resize: none;
  background: var(--backcolor-under-text);
  width: 200px;
  height: 80px;
  border-radius: 6px;
  border: 1px solid var(--backcolor-border-textarea);
  margin-top: 5px;
  /* text-align: center; */
}

.rn-general-textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px var(--backcolor-border-textarea-focus);
}

.rn-general-content-label-value-group {
  display: flex;
  justify-content: center;
  margin: 6px 0px 6px 0px;
}

.rn-general-content-label-name {
  background: var(--backcolor-head-under-text);
  border-radius: 4px;
  width: 80px;
  margin: 0px 6px 0 12px;
}

.rn-general-content-label-name p {
  background: var(--backcolor-head-under-text);
  border-radius: 4px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: overlay;
}

.rn-general-content-label-name p::-webkit-scrollbar {
  display: none;
}

.rn-general-content-value-name {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  width: 120px;
  margin: 0px 6px 0 6px;
  overflow: hidden;
  white-space: nowrap;
}

.rn-general-content-value-name p {
  margin: 0px 6px 0px 6px;
  padding: 0px 0px 0px 0px;
  /* overflow: overlay; */
  height: 20px;
  /* white-space: nowrap; */
}

.rn-general-content-value-name p.text-with-overflow {
  overflow: overlay;
}

.rn-general-content-value-name p::-webkit-scrollbar {
  display: none;
}

.rn-general-table-scroll td p::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

.rn-general-table-thead th {
  background: var(--backcolor-head-under-text);
  border-radius: 4px;
}

.rn-general-table-thead th p {
  width: 36px;
  height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: overlay;
}

.rn-general-table-thead th p::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

.rn-general-table-thead {
  background: var(--backcolor-under-text-thead);
  border-radius: 6px 6px 0px 0px;
  box-shadow: -3px 0px 7px black;
  float: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
}

.rn-general-table-tbody td {
  background: var(--backcolor-under-text);
  border-radius: 11px;
}

.rn-general-table-tbody td p {
  /* white-space: nowrap; */
  width: 36px;
  height: 10px;
  overflow: overlay;
  /* text-overflow: ellipsis; */
  padding-top: 4px;
  padding-bottom: 0px;
  margin-top: 4px;
  margin-bottom: 2px;
  white-space: nowrap;
}

.rn-general-table-tbody tr:hover {
  /* background: var(--backcolor-border-textarea-focus); */
  background: #5050509e;
}

/* .rn-general-table-tbody tr:active {
  background: var(--backcolor-border-textarea);
} */
.rn-general-table-tbody-tr-clicked {
  /* background: var(--backcolor-head-under-text); */
  background: #505050ed;
}

.rn-general-table-tbody {
  border-radius: 0px 0px 6px 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
  box-shadow: -3px 2px 7px black;
  line-height: 0px;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: var(--content-width);
  height: 140px;
}

.rn-general-table-tbody>tr {
  cursor: pointer;
}

.rn-general-table-tfooter {
  border-radius: 0px 0px 6px 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
  box-shadow: -3px 2px 7px black;
  line-height: 0px;
  font-size: 12px;
  width: var(--content-width);
  height: 30px;
}

.rn-general-table-tfooter-buttons {
  width: 32px;
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 1px 6px 1px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
  cursor: pointer;
}

.rn-general-table-tfooter-number-box {
  width: 16px;
}

.rn-general-table-tfooter-apply-button {
  width: 70px;
  /* width: 48px; */
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 12px 6px 12px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
  cursor: pointer;
}

.rn-general-table-tfooter-apply-button:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-general-table-tfooter-apply-button:active {
  background-color: var(--backcolor-border-textarea-focus);
  transform: translateY(0.4px);
}

.rn-general-table-tfooter-buttons:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-general-content-box {
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
}

/*----Rn General Buttons, Radio Buttons, Text Box, Header ends----*/
.rn-outer-main-wrap-toggle {
  left: auto;
  right: 0px;
  padding: 0px;
  top: 0%;
  height: 100%;
  font-family: calibri;
  font-size: 10px;
  z-index: 999999999999;
  position: fixed;
  width: 40px;
  backdrop-filter: blur(5px);
  box-shadow: -1px 2px 8px -2.2px black;
}

.rn-display-none {
  display: none;
}

.rn-body-margin-change {
  margin-right: 45px !important;
}

/*-----Response_mode part starts-----*/
.rn-general-response-box-header h4 {
  margin: 0px;
}

.rn-general-response-container {
  margin-left: 10px;
}

.rn-general-response-container-header {
  height: 20px;
  background: var(--backcolor-under-text-thead);
  border-radius: 6px 6px 0px 0px;
  box-shadow: -3px 0px 7px black;
  font-size: 15px;
  margin-top: 10px;
  width: var(--content-width);
  text-align: center;
}

.rn-general-response-container-body {
  border-radius: 0px 0px 6px 6px;
  float: left;
  font-size: 15px;
  margin-top: 0px;
  width: var(--content-width);
  text-align: center;
  box-shadow: -3px 2px 7px black;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: var(--content-width);
  height: var(--response-container-height);
}

.rn-general-response-box {
  width: 210px;
  margin-left: 6px;
}

.rn-general-response-box-header {
  background: var(--backcolor-under-text-thead);
  border-radius: 6px 6px 0px 0px;
  box-shadow: -1px 0px 4px black;
  font-size: 15px;
  margin-top: 2px;
  height: 22px;
  width: 100%;
  text-align: center;
}

.rn-general-response-box-body {
  background: var(--backcolor-response-box-body);
  border-radius: 0px 0px 6px 6px;
  box-shadow: -1px 0px 4px black;
  width: 100%;
  font-size: 14px;
  text-align: left;
  margin-top: 0px;
  height: 100px;
  overflow-y: scroll;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}

.rn-general-response-box-header-overflow::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

.rn-rate-icon-group {
  display: inline-block;
  font-size: 9px;
  margin-left: 4px;
  float: left;
  margin-top: 7px;
  margin-right: 0px;
}

.rn-general-response-box-header-overflow {
  background: var(--backcolor-head-under-text);
  width: 120px;
  height: 19px;
  overflow: overlay;
  float: left;
  white-space: nowrap;
  line-height: 18px;
  margin: 1px 0px 0px 2px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
}

.rn-rate-icon-selected {
  color: #5b5b5b !important;
}

.rn-rate-icon-active {
  color: #858585 !important;
}

.rn-response-display-none .rn-general-response-box-header {
  border-radius: 6px 6px 6px 6px;
  height: 22px;
  transition-delay: 500ms;
  transition-property: border-radius;
}

.rn-response-display-slide-to-none {
  height: 0px;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}

.rn-response-display-none .rn-updown-icon-group .rn-icon-up {
  display: none;
}

.rn-response-display-none .rn-updown-icon-group .rn-icon-down {
  display: inline-block;
}

.rn-general-response-box {
  width: 210px;
  margin-left: 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.rn-rate-icon-group.rn-rate-icon-normal-size {
  font-size: 16px;
  margin-left: 18px;
  margin-right: 6px;
}

/*-----Response-rate-box part starts-----*/
.rn-general-response-rate-box {
  width: var(--content-width);
  /* margin-left: 6px; */
  /* margin-bottom: 6px; */
  /* margin-top: 6px; */
  display: inline-block;
}

.rn-general-response-rate-box:hover .rn-general-response-rate-box-body {
  display: block;
}

.rn-general-response-rate-box:hover .rn-rate-icon-down {
  display: block;
}

.rn-general-response-rate-box:hover .rn-rate-icon-up {
  display: none;
}

.rn-general-response-rate-box-header {
  background: var(--backcolor-response-box-body);
  /* border-radius: 6px 6px 0px 0px; */
  box-shadow: -1px 0px 4px black;
  font-size: 15px;
  /* margin-top: 2px; */
  height: 22px;
  width: 100%;
  text-align: center;
}

.rn-general-response-rate-box-header-title {
  width: 30px;
  float: left;
  margin-left: 0px;
  margin: 1px 0px 0px 2px;
  display: inline-block;
  font-weight: bold;
}

.rn-general-response-rate-box-header-overflow {
  background: var(--backcolor-head-under-text);
  width: 40px;
  height: 19px;
  overflow: overlay;
  float: left;
  margin-left: 0px;
  white-space: nowrap;
  line-height: 18px;
  margin: 1px 0px 0px 2px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
}

.rn-general-response-rate-box-header-overflow-light-color {
  background: var(--backcolor-under-text);
  width: 40px;
  height: 19px;
  overflow: overlay;
  float: left;
  margin-left: 0px;
  white-space: nowrap;
  line-height: 18px;
  margin: 1px 0px 0px 2px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
}

.rn-general-response-rate-box-header-dark-color-text {
  background: var(--backcolor-head-under-text);
  width: 50px;
  border: 0.5px solid #66666694;
}

.rn-general-response-rate-box-header-light-color-text {
  background: var(--backcolor-under-text);
  width: 30px;
  border: 0.5px solid #66666694;
  text-align: center;
}

.rn-general-response-rate-box-body-dark-color-text {
  background: var(--backcolor-head-under-text);
  width: 172px;
  border: 1px solid #66666694;
}

.rn-general-response-rate-box-body-light-color-text {
  background: var(--backcolor-under-text);
  width: 40px;
  border: 1px solid #66666694;
  text-align: center;
}

.rn-general-response-rate-box-body-dark-color-time-text {
  background: var(--backcolor-head-under-text);
  width: 60px;
  font-size: 10px;
}

.rn-general-response-rate-box-body-text-group {
  margin: 2px 0px 2px 0px;
}

.rn-general-response-rate-box-body {
  width: var(--content-width);
  /*background: var(--backcolor-response-box-body);*/
  background: #fcfcfc;
  border-radius: 0px 0px 6px 6px;
  box-shadow: -1px 0px 4px black;
  font-size: 14px;
  height: 100px;
  overflow-y: scroll;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
  position: absolute;
  display: none;
}

.rn-general-response-rate-box-header-overflow::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

.rn-rate-icon-up, .rn-rate-icon-down {
  float: right;
  margin-top: -3.5px;
  font-family: rating-triangle;
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.rn-updown-rate-icon-group {
  display: inline-block;
  width: 21px;
}

.rn-rate-icon-down {
  display: none;
}

#rn-response-mode-icon {
  cursor: pointer;
  line-height: 1;
  font-size: 34px;
  color: black;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/*----Writing_mode Chosen Node Box part starts----*/
.rn-general-sliding-content-area-box-header h4 {
  margin: 0px;
}

/*
.rn-general-response-container {
  margin-left: 10px;
}

.rn-general-response-container-header {
  height: 20px;
  background: var(--backcolor-under-text-thead);
  border-radius: 6px 6px 0px 0px;
  box-shadow: -3px 0px 7px black;
  font-size: 15px;
  margin-top: 10px;
  width: var(--content-width);
  text-align: center;
}

.rn-general-response-container-body {
  border-radius: 0px 0px 6px 6px;
  float: left;
  font-size: 15px;
  margin-top: 0px;
  width: var(--content-width);
  text-align: center;
  box-shadow: -3px 2px 7px black;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: var(--content-width);
  height: var(--response-container-height);
} */
.rn-general-sliding-content-area-box {
  width: 210px;
  margin-left: 6px;
}

.rn-general-sliding-content-area-box-header {
  background: var(--backcolor-under-text-thead);
  border-radius: 6px 6px 0px 0px;
  box-shadow: -1px 0px 4px black;
  font-size: 15px;
  margin-top: 2px;
  height: 22px;
  width: 100%;
  text-align: center;
  display: flex;
}

.rn-general-sliding-content-area-box-body {
  background: var(--backcolor-response-box-body);
  border-radius: 0px 0px 6px 6px;
  box-shadow: -1px 0px 4px black;
  width: 100%;
  font-size: 14px;
  text-align: left;
  margin-top: 0px;
  height: 100px;
  overflow-y: scroll;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}

.rn-general-sliding-content-area-box-header-overflow::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

.rn-general-sliding-content-area-box-header-overflow {
  background: var(--backcolor-head-under-text);
  height: 22px;
  margin: 0px 16px 0px 12px;
  padding: 0px 4px 0px 4px;
}

.rn-general-sliding-content-area-display-none .rn-general-sliding-content-area-box-header {
  border-radius: 6px 6px 6px 6px;
  height: 22px;
  transition-delay: 500ms;
  transition-property: border-radius;
}

.rn-general-sliding-content-area-display-slide-to-none {
  height: 0px;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}

.rn-general-sliding-content-area-display-none .rn-updown-icon-group .rn-icon-up {
  display: none;
}

.rn-general-sliding-content-area-display-none .rn-updown-icon-group .rn-icon-down {
  display: inline-block;
}

.rn-general-sliding-content-area-box {
  width: 210px;
  margin-left: 10px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.rn-general-sliding-content-area-text-place {
  text-align: left;
}

/**/
/*RNEx Login Part Starts*/
.rn-login-outer-main-wrap {
  width: var(--outer-main-width);
  right: calc(50% - var(--outer-main-width)/2);
  top: 0%;
  font-family: calibri;
  font-size: 10px;
  z-index: 999999999999;
  position: fixed;
  pointer-events: none;
  background-color: #e7e7e752;
  box-shadow: 0px 5px 4px 1px #221d1db0;
  backdrop-filter: blur(5px);
  pointer-events: initial;
  padding: 10px 0px 10px 0px;
  border-radius: 0px 0px 6px 6px;
}

.rn-login-general-content-box {
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  margin: auto;
  font-size: 15px;
  width: var(--content-width);
  text-align: center;
}

.rn-login-general-content-box h4 {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin: 6px 4px 14px 4px;
  padding: 8px;
}

/*RNEx Login Part Ends*/
/*Notification_mode Part Starts*/
.rn-general-notification-content-box {
  border-radius: 6px;
  /* box-shadow: -3px 2px 7px black; */
  /* float: left; */
  /* font-size: 15px; */
  padding-top: 4px;
  /* margin-left: 10px; */
  /* width: var(--content-width); */
  text-align: center;
}

.rn-general-content-label-name.rn-notification-label-width {
  max-width: 60px;
  margin: 0px 2px 0 2px;
}

.rn-general-content-value-name.rn-notification-name-color {
  background: #b9b7b782;
}

.rn-general-sliding-content-area-box-header-overflow.rn-notification-overflow-text {
  overflow: overlay;
  width: 160px;
  white-space: nowrap;
  margin: 0px 0px 0px 10px;
}

.rn-general-content-label-value-group.rn-notification-content-label-value-group {
  margin: 0px 0px 0px 0px;
}

.rn-general-response-container-body.rn-notification-container-body {
  height: 550px;
}

/*Notification_mode Part Ends*/
/*Account_mode Table Change Part Starts*/
.rn-general-table-thead.rn-table-column-size th p {
  width: 48px;
}

.rn-general-table-tbody.rn-table-column-size td p {
  width: 48px;
}

/*Account_mode Table Change Part Ends*/
/*Tooltip part starts*/
.rn-general-table-tbody tr:hover+.rn-general-tooltip {
  visibility: visible;
}

.rn-general-content-tooltip-box {
  border-radius: 6px;
  box-shadow: -3px 2px 7px black;
  float: left;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  width: var(--content-width);
  text-align: center;
}

.rn-general-tooltip {
  visibility: hidden;
  background-color: #cecece;
  margin: 0px 0px 0px 0px;
  position: fixed;
  z-index: 6;
}

.rn-general-content-tooltip-label-value-group {
  display: flex;
  margin: 6px 6px 6px 6px;
}

.rn-general-content-tooltip-label-name {
  background: var(--backcolor-head-under-text);
  border-radius: 4px;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
}

.rn-general-content-tooltip-label-name p {}

.rn-general-content-tooltip-value-name {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  width: 250px;
  margin: 0px 0px 0 6px;
  overflow: hidden;
  white-space: nowrap;
}

.rn-general-content-tooltip-value-name p {}

.slide-to-right {
  animation-name: slidex;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidex {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -600px;
  }
}

.slide-to-right-hover {
  animation-name: slidex-hover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.slide-to-right-hover:hover {
  animation-play-state: running;
}

@keyframes slidex-hover {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -200px;
  }
}

/* Follow button starts */
.rn-follow-button-box {
  position: absolute;
  right: -2px;
  border-radius: 6px;
  box-shadow: -1px 2px 7px black;
  font-size: 10px;
  margin-top: 103px;
  margin-right: 8px;
  width: 54px;
  text-align: center;
}

/* .rn-follow-button-value p{
      background: var(--backcolor-under-text);
      border-radius: 11px;
      margin: 6px 4px 6px 4px;
} */
.rn-follow-button {
  /* width: 80px; */
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 2px 2px 2px 2px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
  cursor: pointer;
}

.rn-follow-button:hover {
  background: var(--backcolor-border-textarea);
  border: 0px;
  border-radius: 6px;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
}

.rn-follow-button:active {
  background-color: var(--backcolor-border-textarea-focus);
  /*   transform: translateY(0.4px); */
}

.rn-follow-button:focus {
  outline: 0;
}

/* Follow button ends*/
/*Circle loader starts*/
.circle-loader {
  border: 12px solid #f3f3f3;
  border-radius: 20%;
  border-top: 12px solid gray;
  margin: auto;
  margin-top: -150px;
  /* margin-bottom: 25px; */
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  padding: 0px;
  /* display: inline-block;*/
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.table-loading-animation {
  display: flex;
}

.table-loading-animation-display-none {
  display: none;
}

/*Circle loader ends*/
/*a href style starts*/
.general-clickable-url {
  text-decoration-color: black;
}

/*a href style ends*/
/*border-entire-page starts*/
.border-entire-page {
  position: fixed;
  color: #c42828;
  border: solid 10px #79797870;
  border-radius: 0px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  left: auto;
  right: 0px;
  padding: 0px;
  top: 0%;
  z-index: 999999999999;
}

/*border-entire-page ends*/
/* toggle-switch starts*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 24px;
  font-size: 17px;
  transform: scale(0.8);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--backcolor-head-under-text);
}

input:focus+.slider {
  box-shadow: 0 0 2px var(--backcolor-head-under-text);
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 8px;
}

.slider.round:before {
  border-radius: 6px;
}

/* toggle-switch starts*/
/*slider-copy-icon starts*/
.copy-the-content-icon {
  width: 22px;
  margin-left: 4px;
  margin-top: 0px;
  outline: none;
  padding-top: 1px;
  padding-bottom: 2px;
}

.copy-the-content-icon:hover {
  background-color: #ccc;
}

input.copy-the-content-icon:active {
  background-color: #636363;
}

/*slider-copy-icon ends*/
/* rich-text starts */
.rich-textarea-box {
  display: inline-block;
  margin-top: 5px;
}

.rich-textarea-header {
  resize: none;
  background: var(--backcolor-under-text-thead);
  border-radius: 6px 6px 0px 0px;
  box-shadow: -1px 0px 4px black;
  font-size: 15px;
  margin-top: 2px;
  height: var(--rich-textarea-header-height);
  text-align: center;
  margin-bottom: 0px;
  width: calc(200px + 6px);
  display: inline-flex;
}

/* rich-textarea-header-expansion starts*/
.rich-textarea-header-expansion {
  resize: none;
  background: var(--backcolor-under-text-thead);
  /* border-radius: 6px 6px 0px 0px; */
  box-shadow: -1px 0px 4px black;
  font-size: 15px;
  /* margin-top: 2px; */
  height: var(--rich-textarea-header-height);
  text-align: center;
  margin-bottom: 0px;
  width: calc(200px + 6px);
  display: inline-flex;
}

.rich-textarea-header-media-radiobutton-group {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 6px;
  margin-right: 1px;
  margin-left: 1px;
}

.rich-textarea-header-media-radiobutton-group-text {
  background-color: #eee;
  border-radius: 8px;
  /* padding: 0px 2px 2px 1px; */
  margin-right: 1px;
  margin-left: 1px;
  font-size: 15px;
  padding-left: 2px;
  padding-right: 2px;
}

.rich-textarea-header-media-radiobutton-group input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  /* border-radius: 11px; */
}

.rich-textarea-header-media-radiobutton-group:hover input~.rich-textarea-header-media-radiobutton-group-text {
  background-color: #ccc;
}

.rich-textarea-header-media-radiobutton-group input:checked~.rich-textarea-header-media-radiobutton-group-text {
  background-color: #636363;
  font-size: 15px;
  padding-left: 2px;
  padding-right: 2px;
}

.rich-textarea-header-media-radiobutton-group .rich-textarea-header-media-radiobutton-group-text:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

/* rich-textarea-header-expansion ends*/
.rich-textarea-text {
  resize: none;
  background: var(--backcolor-under-text);
  width: 200px;
  height: 80px;
  border-radius: 0px 0px 6px 6px;
  border: 1px solid var(--backcolor-border-textarea);
  margin: 0px;
  box-shadow: black -1px 0px 4px;
}

.rich-textarea-font-size-input {
  display: block;
  /* display: block; */
  width: 30px;
  /* font-size: 10px; */
  height: 20px;
  /* padding: 7px 0px 0px 0px; */
  border: 0px;
  /* text-align: center; */
  margin: 0px 0px 0px 0px;
}

.rich-textarea-image-size-input {
  display: block;
  width: 52px;
  height: 20px;
  border: 0px;
  margin: 0px 0px 0px 0px;
}

.rich-textarea-color-input {
  width: 18px;
  height: var(--rich-textarea-header-height);
  padding: 0px 2px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
}

.rich-textarea-label {
  background: var(--backcolor-head-under-text);
  height: 22px;
  /* float: left; */
  margin: 0px 0px 0px 0px;
  /* text-align: center; */
  padding: 0px 4px 0px 4px;
}

.rich-textarea-text-prop {
  background: var(--backcolor-head-under-text);
  height: 22px;
  /* float: left; */
  margin: 0px 0px 0px 0px;
  /* text-align: center; */
  padding: 0px 4px 0px 4px;
}

.rich-textarea-text-prop:focus {
  background: blue;
  height: 22px;
  /* float: left; */
  margin: 0px 0px 0px 0px;
  /* text-align: center; */
  padding: 0px 4px 0px 4px;
}

.rich-textarea-text-prop:focus {
  background: red;
  height: 22px;
  /* float: left; */
  margin: 0px 0px 0px 0px;
  /* text-align: center; */
}

.rich-textarea-toggle-group {
  text-align: center;
  display: inline-block;
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin: 2px 2px 2px 2px;
  padding: 2px 8px 2px 8px;
}

.rich-textarea-toggle-text {
  display: inline-block;
  margin: 0px;
}

/* rich-text ends */
/* rn-checkbox-container starts*/
.rn-checkbox-container {
  display: block;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rn-checkbox-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.rn-checkbox-checkmark {
  background-color: #eee;
  padding: 0px 2px 2px 1px;
}

.rn-checkbox-container:hover input~.rn-checkbox-checkmark {
  background-color: #ccc;
}

.rn-checkbox-container input:checked~.rn-checkbox-checkmark {
  background-color: #636363;
}

.rn-checkbox-container .rn-checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

/* rn-checkbox-container ends*/
/* rn-alert-box starts*/
.rn-alert-box {
  width: 240px;
  min-height: 60px;
  padding-bottom: 6px;
  background: #a69a9a73;
  border-radius: 11px;
  position: fixed;
  right: calc(50% + 0px);
  top: calc(50% - 60px);
  backdrop-filter: blur(5px);
  background-color: var(--main-bg-color);
  box-shadow: 0px 5px 4px 1px #221d1db0;
}

.rn-alert-box-text {
  background: var(--backcolor-under-text);
  border-radius: 11px;
  margin: 6px 4px 6px 4px;
  text-align: center;
}

.rn-alert-box-button {
  height: 22px;
  background: var(--backcolor-under-text);
  border: 0px;
  border-radius: 6px;
  margin: 6px 0 6px 0;
  box-shadow: -1px 1px var(--backcolor-border-textarea-focus);
  width: 60%;
  margin: auto;
  display: block;
}

/* rn-alert-box ends*/
/* icon updates starts*/
.rn-updown-group {
  display: inline-block;
  width: 22px;
}

.rn-rate-group {
  display: inline-block;
  float: left;
  margin: 6px 0 0px 12px;
}

.rn-rate-group>input {
  display: inline-block;
  width: 22px;
}

/* icon updates ends*/
